.features-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading {
    padding: 50px 0;
    font-weight: 500;
    font-size: 30px;
    margin: 0 auto;
}

.features {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

    app-feature-card {
        flex-basis: 50%;
    }
}