<app-back-button></app-back-button>
<div class="content">
    <h1>Notifications</h1>
    <div class="actions">
        <button mat-raised-button color="primary" (click)="onRequestNotificationPermision()">Request notification permision</button>
        <mat-form-field>
            <input matInput placeholder="Notification Message" [(ngModel)]="notificationMessage">
        </mat-form-field>
        <button
            mat-raised-button
            color="primary"
            (click)="onSendNotification()"
            [disabled]="!notificationMessage"
        >
            Send notification
        </button>

    </div>
</div>
