.content {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    align-self: start;
    margin-bottom: 10%;
}

.actions {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 270px;

    button {
        font-size: 16px;
        padding: 5px 10px;
        width: 270px;
        white-space: normal;
    }

    input {
        font-size: 16px;
    }

    @media screen and (max-width: 450px) {
        flex-direction: column;
        align-items: center;
    }
}