<app-back-button></app-back-button>
<div class="content">
    <h1>Barcode and QR reader</h1>

    <div class="main-block">
        <div class="scanner-container">
            <span>Scanner is ready for reading</span>
            <barcode-scanner-livestream
                type="code_128"
                (valueChanges)="onValueChanges($event)"
                (started)="(onStarted)"
            ></barcode-scanner-livestream>
            <div [hidden]="!barcodeValue">
                {{ barcodeValue }}
            </div>
        </div>
    </div>

</div>
