/* Reset some default browser styles */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0; /* Set your desired background color */
    color: #333; /* Set your desired text color */
}
  
/* Style links */
a {
    text-decoration: none;
    color: #007bff; /* Set your desired link color */
}

a:hover {
    text-decoration: underline;
}
